@model Manage_Coffee.Models.KhachHang
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<link rel="stylesheet" href="~/css/cus.css" />

<div class="container">
    <div class="row">
        <h3>Cập nhật thông tin cá nhân</h3>
        <div class="col-lg-6 col-md-12 image-container">
            @{
                string imagePath;
                if (Model.GioiTinh == true) // Nếu giới tính là Nam
                {
                    imagePath = Url.Content("~/css/avt/man.gif");
                }
                else if (Model.GioiTinh == false) // Nếu giới tính là Nữ
                {
                    imagePath = Url.Content("~/css/avt/woman.gif");
                }
                else // Nếu giới tính null
                {
                    imagePath = Url.Content("~/css/avt/null.png");
                }
            }
            <img src="@imagePath" alt="Giới tính khách hàng" />
        </div>
        <div class="col-lg-6 col-md-12 in4">
            <form asp-action="ChinhSuaThongTin" method="post">
                <div class="form">
                    <label for="Ten">Họ và tên:</label>
                    <input type="text" class="form-control" id="Ten" name="Ten" value="@Model.Ten" />
                </div>
                <div class="form">
                    <label for="Diachi">Địa chỉ:</label>
                    <input type="text" class="form-control" id="Diachi" name="Diachi" value="@Model.Diachi" />
                </div>
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                {
                    <div class="form">
                        <label for="Sdt">Số điện thoại:</label>
                        <input type="text" class="form-control" id="Sdt" name="Sdt" value="@Model.Sdt" readonly />
                    </div>
                }
                else
                {
                    <div class="form">
                        <label for="Sdt">Số điện thoại:</label>
                        <input type="text" class="form-control" id="Sdt" name="Sdt" value="@Model.Sdt" />
                    </div>
                }

                @if (_signInManager.IsSignedIn(User))
                {
                    <div class="form">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly />
                    </div>
                }
                else
                {
                    <div class="form">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" />
                    </div>
                }

                <div class="form">
                    <div style=" margin-bottom: 5px; font-weight: 600;">Hạng thành viên:</div>
                    <div>
                        <input type="text" class="form-control" value="@Model.Role" readonly />
                    </div>
                </div>
                <div class="form">
                    <label>Giới tính:</label><br />
                    <input type="radio" id="Nam" name="GioiTinh" value="true" @(Model.GioiTinh == true ? "checked" : "") />
                    <label for="Nam" style="font-weight:100;">Nam</label>
                    <input type="radio" id="Nu" name="GioiTinh" value="false" @(Model.GioiTinh == false ? "checked" : "") />
                    <label for="Nu" style="font-weight:100;">Nữ</label>
                </div>

                <input type="hidden" name="MaKh" value="@Model.MaKh" />
                <button type="submit" class="btn btn-success">Lưu thay đổi</button>
                <a href="@Url.Action("ThongTinKhachHang", "KhachHang", new { id = Model.MaKh })" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
