@model Manage_Coffee.Models.SanPham

@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
}
<div class="gq">
    <div class="add-sp">
        <form asp-action="Create1" method="post">
            <h1>Thêm sản phẩm</h1>


            <div class="form-group">
                <label class="ten-spad" for="ten">Tên Sản Phẩm:</label>
                <input type="text" id="ten" name="ten" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="ten-spad" for="dongia">Đơn Giá:</label>
                <input type="number" id="dongia" name="dongia" class="form-control" required />
            </div>
            <div class="form-group">

                <label class="ten-spad" for="dvt">Đơn Vị Tính:</label>
                <input type="text" id="dvt" name="dvt" class="form-control" required />

            </div>
            <div class="form-group">
                <label for="mota">Mô Tả:</label>
                <textarea id="mota" name="mota" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label class="ten-spad" for="anh">Đường Dẫn Ảnh:</label>
                <input type="text" id="anh" name="anh" class="form-control" />
            </div>

            <div class="form-group">
                <label for="trangThai">Trạng Thái:</label>
                <input type="hidden" name="trangThai" value="false" />
                <input type="checkbox" id="trangThai" name="trangThai" value="true" />
            </div>

            <div class="form-group">
                <label for="maloai">Loại:</label>
                <select id="maloai" name="maloai" class="form-control" required>
                    <option value="">-- Chọn Loại --</option>
                    @foreach (var loai in (List<Manage_Coffee.Models.Loai>)ViewData["LoaiList"])
                    {
                        <option value="@loai.Maloai">@loai.Ten</option>
                    }
                </select>
            </div>

@*             <div class="form-group">
                <label for="maTopping">Topping:</label>
                <select id="maTopping" name="maTopping" class="form-control">
                    <option value="">-- Chọn Topping --</option>
                    @foreach (var topping in (List<Manage_Coffee.Models.SanPham>)ViewData["ToppingList"])
                    {
                        <option value="@topping.MaSp">@topping.Ten</option>
                    }
                </select>
            </div> *@


            <button type="submit" class="them-sp">Thêm</button>
        </form>
    </div>
    <div class="quayve-sp">
        <a href="@Url.Action("Index", "SPAdmin")" asp-area="Admin" class="back-sp">Trở về</a>
    </div>
</div>



